.cart {
    display: flex;
    color: var(--color-text);
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    flex-basis: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.image img {
    width: 25px;
}

.product {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.product span {
    font-size: 16px;
}